* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav {
    background-color:#fff;
    color: #828282;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav h2 {
    margin-left: 20px;
}

.nav h2 {
    font-size: 20px;
    font-weight: 200;
}

section {
 
   padding:0 3%;
    background-color: #f2f2f2;
    height: 100%;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
a{
    text-decoration: none;
}
.cards { 
    
    margin:15% 2% 0 2%;
    width: 380px;
    max-width: 700px;
    min-width: 300px;
    background-color: #fff;
    height: 500px;
    overflow: auto;
    border-radius: 5px 5px 0px 0px;
    box-shadow: 5px 4px 5px rgba(0, 0, 0, 0.2);
    transition: ease-in all 0.258s;
}
.cards:hover{
    transform: scale(1.05,1.05);
}
.cards img {
    width: 100%;
    border-radius: 5px 5px 0px 0px;
    height: 200px;
}

.cards h1 {
    color: #0f0f0f;
    font-size: 22px;
    margin: 7px;
    text-align: center;
}

.cards p {
    color: #505050;
    font-size: 16px;
    padding: 20px;
}